body {
  background-color: black;
}
.App {
  text-align: center;
}
.name {
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 50px;
  line-height: 50px;
}
.card {
  border-radius: 35px;
  border-color: red;
  border-width: 5px;
}
